<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.touch"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.ortiz.touchdemo.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ortiz.touchdemo.SingleTouchImageViewActivity" />
        <activity android:name="com.ortiz.touchdemo.MirroringExampleActivity" />
        <activity android:name="com.ortiz.touchdemo.ViewPagerExampleActivity" />
        <activity android:name="com.ortiz.touchdemo.SwitchImageExampleActivity" />
        <activity android:name="com.ortiz.touchdemo.SwitchScaleTypeExampleActivity" />
    </application>
</manifest>