<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="info.touchimage.demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="info.touchimage.demo.SingleTouchImageViewActivity" />
        <activity android:name="info.touchimage.demo.MirroringExampleActivity" />
        <activity android:name="info.touchimage.demo.ViewPagerExampleActivity" />
        <activity android:name="info.touchimage.demo.ViewPager2ExampleActivity" />
        <activity android:name="info.touchimage.demo.SwitchImageExampleActivity" />
        <activity android:name="info.touchimage.demo.GlideExampleActivity" />
        <activity android:name="info.touchimage.demo.SwitchScaleTypeExampleActivity" />
        <activity android:name="info.touchimage.demo.ChangeSizeExampleActivity" />
        <activity android:name="info.touchimage.demo.RecyclerExampleActivity" />
        <activity android:name="info.touchimage.demo.AnimateZoomActivity" />
        <activity android:name="info.touchimage.demo.ShapedExampleActivity" />
        <activity android:name="info.touchimage.demo.TouchSyncActivity" />
    </application>
</manifest>